*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #EDF1F7;
}
.fcontainer{
    width: 100%;
}
.sidebar{
    width: 20%;
    height: 100vh;
    background-color: #202B2F;
    position: fixed;
    z-index: 20;
    color: #ffff;
    .brand{
        display: flex;
        gap: 10px;
        width: 100%;
        justify-content: center;
        padding: 16.5px 0px;
        background-color: #377EA9;
    }
    .side-search{
        margin: 20px;
        input{
            width: 220px;
            padding: 8px 10px;
            border-radius: 5px;
            border: none;
            outline: none;
            background-color: #36484f;
            color: #ffff;
            font-size: 15px;
        }
    }
    .side-menu{
        .menu{
            background-color: #192227;
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: start;
            align-items: center;
            border-radius: 10px;
            p{
                margin: 20px;
                opacity: 30%;
            }
        }
        ul{
            display: flex;
            flex-direction: column;
            li{
                list-style: none;
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: start;
                align-items: center;
                position: relative;
                a{
                    margin: 20px;
                    text-decoration: none;
                    color: #ffff;
                }
            }
            li:hover{
                background-color: #27333a;
            }
            li:hover:after{
                content: "";
                background-color: #377EA9;
                position: absolute;
                width: 3px;
                height: 100%;
            }
        }
    }
}

.active{
    background-color: #27333a;
}
.active:after{
    content: "";
    background-color: #377EA9;
    position: absolute;
    width: 3px;
    height: 100%;
}

.navbar{
    width: 80%;
    height: 70px;
    background-color: #3D8CBC;
    position: fixed;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section{
    width: 80%;
    height: 120vh;
    padding-top: 10vh;
    float: right;   

    .section-1{
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin: 25px;
        p{
            font-size: 12px;
        }
    }
    .section-2{
        display: flex;
        justify-content: space-around;
        .card{
            width: 330px;
            height: 90px;
            background-color: #DD4B38;
            display: flex;

            .img{
                width: 30%;
               height: 100%;
               display: flex;
               align-items: center;
               justify-content: center  ;
               background-color: #B13C23;   
            }
            .text{
                color: white;
                width: 70%;
                margin: 10px;
            }
        }
    }
    .section-3{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 30px;
        .bg-table{
            background-color: white;
            width: 97%;
            height: 90%;
            border-top: 6px solid #349976;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
        .header{
            display: flex;
            justify-content: space-between;

            .header-left, .header-right{
                display: flex;
                flex-direction: column;

                .header-left-top{
                    display: flex;
                    margin: 20px;

                    h1{
                        margin: 15px 0px 0px 10px;
                        font-weight: 10;
                    }
                    
                }
                .header-left-bottom{
                    display: flex;
                    margin-left: 20px;

                    h3{
                        padding-right: 5px;
                        font-weight: 10;
                    }
                    select{
                        padding: 0px 15px 0px 0px;
                    }

                }
                .header-right-top{
                    display: flex;
                    justify-content: flex-end;
                    margin: 20px;

                    button{
                        background-color: #00A55D;
                        border: none;
                        padding: 10px;
                        border-radius: 5px;
                        color: white;
                        transition: 0.3s;
                    }
                    button:hover{
                        opacity: 50%;
                        cursor: pointer;
                        transition: 0.3s;
                    }
                    
                }
                .header-right-bottom{
                    display: flex;
                    margin: 20px;
                    align-items: center;
                    
                    h4{
                        font-weight: 10px;
                        margin-right: 5px;
                    }
                    input{
                        outline: none;
                        padding:2px 0px 2px 0px;
                        border: none;
                        padding: 10px;
                        border-radius: 5px;
                        background-color: #EDF1F7;
                    }
                    button{
                        outline: none;
                        border: none;
                        padding: 10px;
                        background-color: #00A55D;
                        border-radius: 5px;
                        color: #fff;
                        transition: 0.3s;
                    }
                    button:hover{
                        opacity: 50%;
                        cursor: pointer;
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}
.footer{
    width: 80%;
    height: 30vh;
    float: right;
    background-color: aliceblue;
}
.profile{
    display: flex;
    gap: 10px;
    .photo-profile{
        display: flex;
        color: #ffff;
        align-items: center;
    }
}
.side{
    margin: 40px;
}

.icon{
    width: 40px;
    height: 40px;
    margin: 0px 10px;
}

.pp{
    border-radius: 100%;
}

.big{
    width: 70px;
    height: 70px;
}